*{
    box-sizing: border-box;
font-size: 25px;
font-family: monospace;
}

#header-photo {
height: 15%;
width: 100%;
background-image: url(https://img.freepik.com/free-vector/hand-drawn-flat-design-digital-camo-pattern_23-2149264413.jpg?w=2000);
background-position: center;
background-size: cover;
margin-bottom: 10px;
}

body {
        display: flex;
        flex-direction: column;
        line-height: 1.3;
        background-color: var(--white);
}

header {
    font-size: 23px;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey);
    color: var(--blue);
}

header nav {
    padding-top: 15px;
    margin-right: 15px;
    float: right;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}

a {
    color: var(--blue);
    text-decoration: none;
}

article {
    background-color: var(--grey);
    margin: 2%;
    padding: 2.25%;
}

p {
    display: inline;
}

h1 {
    font-size: 200%;
}

h2 {
    border-bottom: 2px solid var(--blue);
    color: var(--blue);
    display: flex;
    align-items: left;
    margin-left: 1.5% ;
    margin-bottom: 25px;
    font-size: 150%;
}

.Contact-Me ul {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    width: 100%;
    margin: 25px, 0;
    padding: 0;
    color: var(--blue);
 }

 .Contact-Me li {
    display: block;
    flex: 0 1 auto;
    list-style-type: none;
 }

 .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--blue);
 }


 .grid-container {
    margin: 20px;
    grid-template-columns: auto auto auto;
    display: grid;
    gap: 1%;
  }

  .item1, .item2, .item3 {
    position: relative;
    justify-content: space-around;
    background-color: var(--white);
    padding: 20px;
    font-size: 30px;
    max-width: 300px;
    max-height: 300px ;
  }

  .item1:hover .overlay, .item2:hover .overlay, .item3:hover .overlay{
    opacity: 1;
}

.text {
    color: var(--white);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

footer {
    margin: 15px ;
    text-align: center;
    font-size: 75%;
}